blinker==1.8.2
cffi==1.17.1
click==8.1.7
cryptography==43.0.1
ecdsa==0.19.0
fastecdsa==2.3.2
Flask==3.0.3
Flask-SQLAlchemy==3.1.1
greenlet==3.1.1
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.1
phe==1.5.0
pycparser==2.22
pycryptodome==3.21.0
six==1.16.0
SQLAlchemy==2.0.35
typing_extensions==4.12.2
Werkzeug==3.0.4
